-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: autosearch
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ai_tasks`
--

DROP TABLE IF EXISTS `ai_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_tasks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `task_type` varchar(50) DEFAULT 'analysis',
  `status` varchar(30) DEFAULT 'WAITING',
  `priority` int DEFAULT '5',
  `retry_count` int DEFAULT '0',
  `error_message` text,
  `created_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `started_time` datetime DEFAULT NULL,
  `finished_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_ai_tasks_article` (`article_id`),
  KEY `idx_ai_tasks_status_priority` (`status`,`priority`),
  CONSTRAINT `fk_ai_tasks_article` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_tasks`
--

LOCK TABLES `ai_tasks` WRITE;
/*!40000 ALTER TABLE `ai_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `archive_versions`
--

DROP TABLE IF EXISTS `archive_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `archive_versions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `raw_document_id` int NOT NULL,
  `version_number` int NOT NULL,
  `file_hash` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `storage_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` bigint DEFAULT '0',
  `mime_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'text/html',
  `created_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_archive_versions_article` (`article_id`),
  KEY `idx_archive_versions_raw_document` (`raw_document_id`),
  KEY `idx_archive_versions_version` (`article_id`,`version_number`),
  CONSTRAINT `fk_archive_versions_article` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_archive_versions_raw_document` FOREIGN KEY (`raw_document_id`) REFERENCES `raw_documents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archive_versions`
--

LOCK TABLES `archive_versions` WRITE;
/*!40000 ALTER TABLE `archive_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `archive_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `article_metadata`
--

DROP TABLE IF EXISTS `article_metadata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `article_metadata` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `author` varchar(100) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `language` varchar(20) DEFAULT NULL,
  `source_type` varchar(50) DEFAULT NULL,
  `tags` text,
  `created_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_article_metadata_article` (`article_id`),
  CONSTRAINT `fk_article_metadata_article` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `article_metadata`
--

LOCK TABLES `article_metadata` WRITE;
/*!40000 ALTER TABLE `article_metadata` DISABLE KEYS */;
/*!40000 ALTER TABLE `article_metadata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articles`
--

DROP TABLE IF EXISTS `articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `document_id` varchar(64) NOT NULL,
  `keyword` varchar(255) DEFAULT NULL,
  `title` text,
  `url` text,
  `source` varchar(255) DEFAULT NULL,
  `published` datetime DEFAULT NULL,
  `content` longtext,
  `crawl_time` datetime DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `ai_summary` text,
  `ai_category` varchar(100) DEFAULT NULL,
  `ai_keywords` text,
  `ai_importance` int DEFAULT '0',
  `ai_model` varchar(100) DEFAULT NULL,
  `ai_version` varchar(50) DEFAULT NULL,
  `ai_analyze_time` datetime DEFAULT NULL,
  `ai_confidence` float DEFAULT '0',
  `ai_status` varchar(20) DEFAULT 'pending',
  PRIMARY KEY (`id`),
  UNIQUE KEY `document_id` (`document_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles`
--

LOCK TABLES `articles` WRITE;
/*!40000 ALTER TABLE `articles` DISABLE KEYS */;
/*!40000 ALTER TABLE `articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knowledge_archive`
--

DROP TABLE IF EXISTS `knowledge_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `knowledge_archive` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `topic` varchar(255) DEFAULT NULL,
  `entities` text,
  `relations` text,
  `knowledge_version` varchar(50) DEFAULT '1.0',
  `created_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_knowledge_archive_article` (`article_id`),
  KEY `idx_knowledge_topic` (`topic`),
  CONSTRAINT `fk_knowledge_archive_article` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knowledge_archive`
--

LOCK TABLES `knowledge_archive` WRITE;
/*!40000 ALTER TABLE `knowledge_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `knowledge_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knowledge_scores`
--

DROP TABLE IF EXISTS `knowledge_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `knowledge_scores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `knowledge_id` int NOT NULL,
  `importance` int DEFAULT '0',
  `confidence` float DEFAULT '0',
  `quality_score` float DEFAULT '0',
  `freshness_score` float DEFAULT '0',
  `ranking_score` float DEFAULT '0',
  `created_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_knowledge_scores_archive` (`knowledge_id`),
  KEY `idx_knowledge_ranking` (`ranking_score` DESC),
  CONSTRAINT `fk_knowledge_scores_archive` FOREIGN KEY (`knowledge_id`) REFERENCES `knowledge_archive` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knowledge_scores`
--

LOCK TABLES `knowledge_scores` WRITE;
/*!40000 ALTER TABLE `knowledge_scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `knowledge_scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migration_history`
--

DROP TABLE IF EXISTS `migration_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migration_history` (
  `id` int NOT NULL AUTO_INCREMENT,
  `filename` varchar(255) NOT NULL,
  `executed_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `filename` (`filename`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migration_history`
--

LOCK TABLES `migration_history` WRITE;
/*!40000 ALTER TABLE `migration_history` DISABLE KEYS */;
INSERT INTO `migration_history` VALUES (1,'database/schema.sql','2026-08-13 03:49:41'),(2,'database/migration_v4_p1_1.sql','2026-08-13 03:49:41'),(3,'database/migration_v4_p1_2.sql','2026-08-13 03:49:41'),(4,'database/migration_v4_p1_5.sql','2026-08-13 03:49:41'),(5,'database/migration_v4_p2_2.sql','2026-08-13 03:49:41'),(6,'database/migration_v4_p2_2_5.sql','2026-08-13 03:49:42'),(7,'database/migration_v4_p2_2_2.sql','2026-08-13 03:49:42');
/*!40000 ALTER TABLE `migration_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `raw_documents`
--

DROP TABLE IF EXISTS `raw_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `raw_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `original_url` text,
  `storage_path` varchar(255) DEFAULT NULL,
  `file_hash` varchar(64) DEFAULT NULL,
  `file_size` bigint DEFAULT '0',
  `mime_type` varchar(50) DEFAULT 'text/html',
  `created_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `file_hash` (`file_hash`),
  KEY `fk_raw_documents_article` (`article_id`),
  CONSTRAINT `fk_raw_documents_article` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `raw_documents`
--

LOCK TABLES `raw_documents` WRITE;
/*!40000 ALTER TABLE `raw_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `raw_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `search_index`
--

DROP TABLE IF EXISTS `search_index`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `search_index` (
  `id` int NOT NULL AUTO_INCREMENT,
  `knowledge_id` int NOT NULL,
  `search_text` text,
  `keywords` text,
  `entities` text,
  `topic` varchar(255) DEFAULT NULL,
  `embedding_reference` int DEFAULT NULL,
  `index_version` varchar(20) DEFAULT '1.0',
  `created_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_search_index_knowledge_id` (`knowledge_id`),
  KEY `idx_search_index_topic` (`topic`),
  KEY `idx_search_index_version` (`index_version`),
  CONSTRAINT `fk_search_index_knowledge` FOREIGN KEY (`knowledge_id`) REFERENCES `knowledge_archive` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `search_index`
--

LOCK TABLES `search_index` WRITE;
/*!40000 ALTER TABLE `search_index` DISABLE KEYS */;
/*!40000 ALTER TABLE `search_index` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-13  4:02:40
